.product-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.product-title {
    color: #333;
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
}

.product-description {
    color: #666;
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.product-detail {
    color: #444;
    font-size: 14px;
    margin: 0;
}


.product-container:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.nav-menu {
    background-color: #007bff;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f5f5f5;
}
